<kendo-grid
  class="container"
  [kendoGridBinding]="dataToDisplay"
  [sortable]="true"
  [pageable]="true"
  [pageSize]="7"
>
  <kendo-grid-column title="Edit">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button (click)="editMachine(dataItem)" class="edit-button">Edit</button>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="machineId" title="Machine ID"> </kendo-grid-column>
  <kendo-grid-column field="machineName" title="Machine Name">
  </kendo-grid-column>
  <kendo-grid-column field="manufacturerId" title="Manufacturer ID">
  </kendo-grid-column>
  <kendo-grid-column
    field="dateTimeOfPurchase"
    title="Date and Time of Purchase"
  >
  </kendo-grid-column>
  <kendo-grid-column field="yearOfManufacture" title="Year of Manufacture">
  </kendo-grid-column>
  <kendo-grid-column field="machineStatus" title="Machine Status">
    <ng-template kendoGridCellTemplate let-dataItem>
      <ng-container *ngIf="dataItem.machineStatus === '1'">
        <span class="active-icon">Active</span>
        <span class="k-icon k-i-check active-icon green-icon"></span>
      </ng-container>
      <ng-container *ngIf="dataItem.machineStatus === '0'">
        <span class="inactive-icon">Inactive</span>
        <span class="k-icon k-i-close inactive-icon red-icon"></span>
      </ng-container>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="capacityInPercentage" title="Capacity (%)">
  </kendo-grid-column>
  <kendo-grid-column field="photo" title="photo">
    <ng-template kendoGridCellTemplate >
      <app-image-upload></app-image-upload>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column title="delete">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button (click)="deleteMachine(dataItem)" class="delete-button">
        DELETE
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<app-edit-machine></app-edit-machine>
