.container{
  width: 85%;
  margin: auto;
  top: 100px;
}
.edit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9;
  }
}
.delete-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d83636;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d65656;
  }
}
.green-icon {
  margin-left: 10px;
  color: green;
}

.red-icon {
  margin-left: 5px;
  color: red;
}
